body {
    background-color: plum;
}
.sunflower{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.katie{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}