body {
background-color: palegreen;
}

.first{
    color:lightyellow;
}
.second{
    color:mediumpurple;
}
.third{
    color:rebeccapurple
}

#info {

}

.sunflower{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}